<?- include ../layouts/admin_header.ejs ?>
<div class="container">
  <? if(userName  && adminAuth) {?>
  <form class="control-group" method="post" action="/admin/post-add-product">
    <fieldset>
      <legend><h3>Form Thêm Sản Phẩm</h3></legend>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="name">Product Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:50%" id="name" name="name" value="" required= "required">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="price">Product Price</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:50%" id="price" name="price" value="" required= "required"> VND
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="detail_summary">Product Detail Summary</label>
        <div class="controls">
          <textarea class="input-xlarge" style="width:50%" id="detail_summary" rows="3" name="detail_summary"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="detail_1">Product Detail Features</label>
        <div class="controls">
          <textarea class="input-xlarge" style="width:50%" id="detail_1" rows="5" name="detail_1"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="detail_2">Product Detail Conditions</label>
        <div class="controls">
          <textarea class="input-xlarge" style="width:50%" id="detail_2" rows="5" name="detail_2"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="image">Product Image Url</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:50%" id="image" name="image" value="" required= "required">
        </div>
      </div>
<!--       <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="category_alias">Category Alias</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:50%" id="category_alias" name="category_alias" value="" required= "required"> (ex: cong-nghe-dien-tu)
        </div>
      </div> -->
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="category_alias">Category</label>
        <div class="controls">
          <select id="category_alias" name="category_alias">
            <option value="">Select Category</option>
            <option value="cong-nghe-dien-tu">Công Nghệ Điện Tử</option>
            <option value="du-lich">Du Lịch</option>
            <option value="sach-truyen">Sách - Truyện</option>
          </select>
        </div>
      </div>
<!--       <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="time_to_buy">Time Buy</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:50%" id="time_to_buy" name="time_to_buy" value="" required= "required"> (ex: Tue Dec 10 2013 01:31:10 GMT+0700 (SE Asia Standard Time))
        </div>
      </div> -->
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="time_to_buy">Time Buy</label>
        <div class="controls">
          <input type="text" id="datepicker" size="30" value="" name="time_to_buy" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="font-size:20px;" for="man_buy">Man Buy</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:50%" id="man_buy" name="man_buy" value="" required= "required"> (ex: 30)
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="submit">Save </button>
        <button class="btn">Cancel</button>
      </div>
    </fieldset>
  </form>
  <? } ?>
</div>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
<!-- End .content-box-content -->
<!-- End .content-box -->
<?- include ../layouts/footer.ejs ?>