<?- include ../layouts/admin_header.ejs ?>
<div class="container">
  <? if(userName  && adminAuth) {?>
  <form method="post" action="/admin/post-edit-product/<?= result.id ?>">
    <fieldset>
      <h3><?= title ?></h3>
      <p>
        <label>Product Name:</label>
        <input class="text-input large-input"  type="text" value="<?= result.name ?>" name="name" id="name" /><span style="color:#B8B8B8"></span>
      </p>
      <p>
        <label>Product Price:</label>
        <input class="text-input large-input"  type="text" value="<?= result.price ?>" name="price" id="price" /><span style="color:#B8B8B8"></span>
      </p>
      <p>
        <label>Product Detail:</label>
        <textarea name="detail" COLS=10 ROWS=6 ><?= result.detail  ?></textarea>
      </p>
      <p>
        <label>Product Image:</label>
        <input class="text-input large-input"  type="text" value="<?= result.img ?>" name="image" id="image" /><span style="color:#B8B8B8"></span>
      </p>
      <p>
        <label>Category Alias:</label>
        <input class="text-input large-input"  type="text" value="<?= result.category_alias ?>" name="category_alias" id="category_alias" /><span style="color:#B8B8B8"></span>
      </p>
      <p>
        <label>Time To Buy:</label>
        <input class="text-input small-input"  type="text" value="<?= result.time_to_buy ?>" name="time_to_buy" id="time_to_buy" /><span style="color:#B8B8B8"></span>
      </p>
      <p>
        <label>Man Buy:</label>
        <input class="text-input small-input"  type="text" value="<?= result.man_buy ?>" name="man_buy" id="man_buy" /><span style="color:#B8B8B8"></span>
      </p>
       <input class="button" name= "submit" type="submit" value="Submit" />
    </fieldset>
  </form>
  <? } ?>
</div>
<!-- End .content-box-content -->
<!-- End .content-box -->