<?- include ../layouts/admin_header.ejs ?>
  <div id="total-money">
    Total money :
    <span>
      <? var b = 0;
      for(var i = 0; i < allOrders.length; i++){
      b = b + allOrders[i]._number * arrProducts[i].price;
       } ?>
       <?= b?>
    </span>
  </div>
<div class="container">
  <? if(userName  && adminAuth) {?>
    <table  class="table"  width="100%">
      <thead>
        <tr bgcolor="#D6F7FC">
          <th width="5%" align="center"><font size="2" color="#09c">Index</font></th>
          <th width="5%" align="center"><font size="2" color="#09c">Order User Name</font></th>
          <th width="5%" align="center"><font size="2" color="#09c">Order Product</font></th>
<!--           <th width="5%" align="center"><font size="2" color="#09c">Order Product Image</font></th> -->
          <th width="5%" align="center"><font size="2" color="#09c">Number Order</font></th>
          <th width="10%" align="center"><font size="2" color="#09c">Order Money</font></th>
          <th width="5%" align="center"><font size="2" color="#09c">User Has Confirmed</font></th>
          <th width="5%" align="center"><font size="2" color="#09c">Delete</font></th>
        </tr>
      </thead>
        <? for(var i = 0; i < allOrders.length; i++){ ?>
      <tr>
        <td>
          <span class="line-user"><?= i + 1  ?></span>
        </td>
        <td>
          <span class="line-user"><?= allOrders[i]._user_name ?></span>
        </td>
        <td>
          <span class="line-user"><?= arrProducts[i].name ?></span>
        </td>
<!--         <td>
          <span class="line-user"><img src="<?= arrProducts[i].img ?>"></span>
        </td> -->
        <td>
          <span class="line-user"><?= allOrders[i]._number ?></span>
        </td>
        <td>
          <span class="line-user"><?= allOrders[i]._number?> x <?= arrProducts[i].price ?> = <?= allOrders[i]._number * arrProducts[i].price ?></span>
        </td>
        <td>
          <span class="line-user"><?= allOrders[i]._user_confirm ?></span>
        </td>
        <td>
          <span class="line-user"><button id="<?= allOrders[i].id ?>" class="btn btn-danger" onclick="deleteOrder(id)">Delete</button></span>
        </td>
      </tr>
      <? } ?>
    </table>
  <? }  ?>
</div>
<script type="text/javascript">
  function deleteOrder(id){
    $.ajax({
      type:"post",
      url:"/admin/xoa-order",
      data: {
        productId : id
      },
    }).done(function(){
      alert('Đã Xóa Order');
      window.location.reload();
    });
  };
</script>
