<?- include ../layouts/header.ejs ?>
  <div class="container">
    <h1>Error or Not Corfirm the Form, please check again</h1>
    <a href="/thanh-toan"><button class="btn btn-danger">Back to Thanh Toan Page!!!</button></a>
  </div>
<?- include ../layouts/footer.ejs ?>