<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery-1.7.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
		<title><?= title ?></title>
	</head>
  <body>
	<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/"><span class="icon-cart"></span>Nhóm Mua</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/category/cong-nghe-dien-tu"><span class="icon-tag"></span> Điện Tử </a></li>
          <li><a href="/category/sach-truyen"><span class="icon-tag"></span> Sách - Truyện</a></li>
          <li><a href="/category/du-lich"><span class="icon-tag"></span> Du Lịch</a></li>
        </ul>
        <form class="navbar-search pull-left" action="">
          <input type="text" class="search-query span2" placeholder="Search" style="margin-top:5px;width:150%;">
        </form>
        <ul class="nav navbar-nav navbar-right" style="float:right;">
          <? if(typeof(userName) != 'undefined') {?>
            <li>
                <? if(typeof(orders) != 'undefined') {?>
                <a href="/dat-hang"><span class="icon-calculate"></span>
                    <?= orders.length ?> Order Giỏ Hàng
                </a>
                <? }  else { ?>
                <a href="/dat-hang"><span class="icon-calculate"></span>
                    Giỏ Hàng
                </a>
                <? } ?>
            </li>
            <li><a href="/da-mua"><span class="icon-calculate"></span>Bạn Đã Mua Gì?</a></li>
            <!-- <li><a href="/thanh-toan"><span class="icon-calculate"></span>Thanh Toán</a></li> -->
            <? if(typeof(adminAuth) != 'undefined' && adminAuth == true) { ?>
              <li><a href="/admin/quan-ly-san-pham"><span class="icon-accessibility"></span>Trang <?= userName ?></a></li>
            <? } else { ?>
              <li><a href="/"><span class="icon-accessibility"></span><?= userName ?></a></li>
            <? } ?>
            <li><a href="/dang-xuat"><span class="icon-exit"></span>Đăng Xuất</a></li>
		      <? } else { ?>
		            <li><a href="/dang-ky"><span class="icon-smiley"></span>Đăng Ký Thành Viên</a></li>
		            <li><a href="/dang-nhap"><span class="icon-facebook"></span>Đăng Nhập</a></li>
		      <? } ?>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar-inner -->
  </div>