<?- include ../layouts/header.ejs ?>
<div class="container">
  <h1>Confirm Successs</h1>
  <a href="/san-pham"><button class="btn btn-info">Cont to Buy!!!</button></a>
</div>
<?- include ../layouts/footer.ejs ?>