<?- include ../layouts/header.ejs ?>
<form class="form-signin" action="/dang-ky" method="post">
  <h2 class="form-signin-heading">Please give us your information</h2>
  <input type="text" class="input-block-level" placeholder="User Name" name="user-name" required= "required">
  <input type="password" class="input-block-level" placeholder="Password" name="user-password" required= "required">
  <input type="password" class="input-block-level" placeholder="Password" name="user-password2" required= "required">
  <button class="btn btn-large btn-primary" type="submit" name="submit">Sign Up Now</button>
</form>
<?- include ../layouts/footer.ejs ?>