<?- include ../layouts/header.ejs ?>
<div class="container">
  <div class="well">

    <h1 style="color:#F00;text-align:center;">
    <div class="title_2">
    Về Nhóm Mua - Best Opportunity for all Sell Group
    <div>
    </div></div></h1>
    <br>


    <br class="clear">

    <div class="grid box1" style="font-size:medium;">
    <p>
    Nhóm Mua được phát triển và cho ra mắt bởi ZIGExN VeNtura, công ty 100% vốn Nhật Bản tự hào với những dịch vụ Internet tiên tiến nhất đến từ Nhật Bản. Chúng tôi mang đến cho quý khách dịch vụ có chất lượng và độ tin cậy cao nhất.
    </p>
    <p>
    Đến với Nhóm Mua, quý khách sẽ được trải nghiệm một giao diện tinh tế, lôi cuốn và bắt mắt. Và quý khách sẽ dễ dàng đặt được vé máy bay thành công chỉ với vài thao tác đơn giản. Chúng tôi hiểu rõ tâm lý của khách hàng, vì vậy chúng tôi đề cao tính đơn giản nhưng hiệu quả và vẫn đảm bảo tính thẩm mỹ và tinh tế.
    </p>
    <p>
    Không chỉ chất lượng dịch vụ, chúng tôi cũng đảm bảo sẽ cung cấp vé máy bay với giá rẻ nhất thị trường. Ngoài tiền vé máy bay, chúng tôi sẽ không thu bất cứ chi phí phát sinh nào khác. Đem đến khách hàng thông tin giá cả chính xác nhất là sứ mệnh của chúng tôi.
    </p>
    <p>
    Thêm vào đó, quý khách có thể thanh toán tiền vé online (thông qua tài khoản ngân hàng, thẻ tín dụng). Chúng tôi đảm bảo rằng những giao dịch sẽ được tiến hành một cách thuận tiện và an toàn. Chúng tôi luôn coi trọng sự tin tường của khách hàng đối với các dịch vụ của chúng tôi.
    </p>
    <p>
    Ngay từ những ngày đầu phát triển, chúng tôi đã đề ra phương hướng cung cấp dịch vụ không chỉ cho khách hàng trong nước, mà còn hướng đến những khách hàng từ quốc tế. Vì vậy, Nhóm Mua có thể phục vụ được nhiều đối tượng khách hàng với ba ngôn ngữ: tiếng Việt, tiếng Anh và tiếng Nhật.
    </p>
    <p>
    Với slogan “Best Opportunity for all Fight”, sứ mệnh của Nhóm Mua chính là: mang đến cho khách hàng một dịch vụ tốt nhất, đơn giản nhất và có độ tin cậy cao nhất. Luôn coi trọng, lắng nghe và phục vụ khách hàng theo cách tốt nhất, đó là những gì chúng tôi đã, đang và sẽ tiếp tục làm tại Việt Nam.
    </p>
    </div>

    <br class="clear">
    <div class="domestic">

    <h1 style="color:#F00;text-align:center;">
    Nhóm Mua
    </h1>
    <br>
    </div>
  </div>
</div>
<?- include ../layouts/footer.ejs ?>