<?- include ../layouts/header.ejs ?>
<script type="text/javascript">
  var a;
  var myvar = setInterval(function(){timerBuy()}, 1000);
  function timerBuy(){
    var al = parseInt(document.getElementById('product_lenght').textContent);
    for(var a = 0; a < al ; a++){
      timerBuyOne(a);
    };
  };
  function timerBuyOne(index){
    var product_id = document.getElementById('product-id-'+index).textContent;
    var timeNow = new Date();
    var timeCreated = new Date(document.getElementById('time-create-'+index).textContent);
    var minus =  timeCreated - timeNow;

    if (minus/1000 < 0) {
      console.log('product expire');
      var flag = document.getElementById('time-buy-'+index);
      flag.innerHTML = "product expire!";
      clearInterval(myvar);
      $.ajax({
        type:'post',
        url:'/set-expire',
        data: {product_id:product_id}
      }).done(function(){
        console.log('set product expire true');
      });
    }else {
      document.getElementById('time-buy-'+index).innerHTML = convertMillisecondsToDigitalClock(minus).clock;
    };
  };
  function convertMillisecondsToDigitalClock(ms) {
    hours = Math.floor(ms / 3600000), // 1 Hour = 36000 Milliseconds
    minuets = Math.floor((ms % 3600000) / 60000), // 1 Minutes = 60000 Milliseconds
    seconds = Math.floor(((ms % 360000) % 60000) / 1000) // 1 Second = 1000 Milliseconds
        return {
        hours : hours,
        minuets : minuets,
        seconds : seconds,
        clock : hours + "h " + minuets + "m " + seconds + "s"
    };
  };
</script>
<script>

function showIdProduct(id) {
  	$.ajax({
  		type: "post",
  		url: "/test",
  		data: {productId:id},
  		success: function(res){
        p = "<br/>";
        name = "<p>"+res.data.name+"</p>";
        img = "<img src='"+res.data.img+"'>";
        console.log(name);
        console.log(img);
        a = document.getElementById('ex1');
        a.innerHTML += p;
        a.innerHTML += name;
        a.innerHTML += img;
        a.innerHTML += p;
      },
      error: function(req, status, err){
        console.log('something went wrong', status, err);
      }
  	}).done(function(){
      alert("Đã Thêm Vào Giỏ Hàng Của Bạn")
    });
};

function addToCart(id) {
  number = document.getElementById('number-'+id).value;
	$.ajax({
		type:"post",
		url:"/them-vao-gio",
		data: {
      productId : id,
      number : parseInt(number)
    },
	}).done(function(res){
    alert(res);
    window.location.reload();
	});
};

function buyProductNow(id) {
  number = document.getElementById('number-'+id).value;
  $.ajax({
    type:"post",
    url:"/mua-ngay",
    data: {
      productId : id,
      number : number
    },
  }).done(function(res){
    if (res == "YES") {
      alert('Dat Mua Thanh Cong, Chuyen Den Trang Thanh Toan');
      window.location.href = '/thanh-toan';
    } else{
      alert('San Pham Het Han!!!');
    };
  });
};
</script>
<style type="text/css">
  #buy-number{
    width: 110px !important;
    white-space: nowrap;
    float: left;
    font-family: "OpenSans";
    font-size: 14px;
    padding-left: 5px;
  }
</style>
<div class="row-fluid">
  <ul class="thumbnails" style="margin-left:10%;width:100%;">
    <span id="product_lenght" style="display:none;"><?= allProducts.length ?></span>
    <? for (var i = 0; i < allProducts.length; i++) { ?>
    <li class="span3" style="max-width:100%;height:30%;">
      <div class="thumbnail">
        <a href="/san-pham/<?= allProducts[i].id ?>"><img data-src="holder.js/300x200" alt="<?= allProducts[i].name ?>" style="width: 100%; height: 300px;" src="<?= allProducts[i].img ?>"></a>
        <div class="caption">
          <h3 style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"><?= allProducts[i].name ?></h3>
          <p>Giá Sản Phẩm : <?= allProducts[i].price ?> VND</p>
          <? if(typeof(userName)!= 'undefined') { ?>
          <span>
            Số Lượng:
            <select class="" id='number-<?= allProducts[i].id ?>'>
              <? for(var j = 1; j <= 10 ; j++) {?>
                <option value="<?=j?>"><?=j?></option>
              <? } ?>
            </select>
          </span>
          <p>
            <!-- <a href="/san-pham/<?= allProducts[i].id ?>" class="btn btn-primary">Chi Tiết</a> -->
            <a  id="<?= allProducts[i].id ?>" class="btn btn-success" onclick="addToCart(id)">Thêm Giỏ Hàng</a>
            <a id="<?= allProducts[i].id ?>" class="btn btn-danger" onclick="buyProductNow(id)">Mua Ngay</a>
          </p>
          <p>
            <div id="product-time" style="display:none;">
              <em>Created At : </em><span id="time-create-<?= i ?>" class="time-countdown"><?= allProducts[i].time_to_buy ?></span>
            </div>
            <div id="product-id-<?= i ?>" style="display:none;"><?= allProducts[i].id ?></div>
            <em>Người Đã Mua : </em><span><?= allProducts[i].man_buy ?></span>
            <em>Thời Gian : </em><span id="time-buy-<?= i ?>"></span>
          </p>
          <? } ?>
        </div>
      </div>
    </li>
    <? } ?>
  </ul>
</div>
<?- include ../layouts/footer.ejs ?>