<?- include ../layouts/header.ejs ?>
<div class="container">
  <div class="well">
    <h1 style="color:#F00;text-align:center;">
    <div class="title_2">
    Chính sách bảo mật tại Nhóm Mua
    <div>
    </div></div></h1>
    <br>

    <br class="clear">

    <div class="grid box1" style="font-size:medium;">
    <span class="title_pri">1. Chúng tôi thu thập dữ liệu như thế nào?</span>
    <p>
    Thông tin của người sử dụng trang web <span class="webname">Nhóm Mua</span> được thu thập một cách chủ động và thụ động. Thu thập thông tin một cách chủ động là khi người sử dụng đăng nhập thông tin, tiến hành mua bán trực tuyến. Thu thập thông tin một cách thụ động là khi máy chủ tự động ghi chép các dữ liệu liên quan đến trang web bao gồm địa chỉ IP, loại trình duyệt và độ phân giải bằng các chương trình phân tích hành vi khách hàng nhằm phục vụ cho mục đích thống kê.
    </p>
    <br class="clear">
    <span class="title_pri">2. Phạm vi của các dữ liệu được thu thập</span>
    <p>
    Địa chỉ email của người sử dụng được thu thập trong quá trình đăng ký tại <span class="webname">Nhóm Mua.</span> Những thông tin khách hàng bao gồm: tên họ đầy đủ, địa chỉ, số điện thoại, số fax (tùy chọn), thông tin công ty (tùy chọn trong việc xuất hóa đơn) và địa chỉ email sẽ được thu thập trong quá trình mua vé, bảo hiểm, đặt khách sạn hoặc xe hơi. Trong trường hợp khách hàng thanh toán bằng thẻ tín dụng, hệ thống sẽ thu thập thông tin số thẻ tín dụng, loại thẻ, số CVV và ngày hết hạn. Trong trường hợp khách hàng không muốn nhận các tiếp thị điện tử hoặc chương trình khuyến mại từ <span class="webname">Nhóm Mua</span>, khách hàng không nhất thiết phải tạo tài khoản trên <span class="webname">Nhóm Mua</span> để mua hàng và sử dụng dịch vụ mà <span class="webname">Nhóm Mua</span> cung cấp. Tuy nhiên, khách hàng phải cung cấp những thông tin cần thiết mà <span class="webname">Nhóm Mua</span> cần như thông tin cá nhân hoặc chi tiết thẻ tín dụng trong quá trình mua bán trực tuyến.
    </p>
    <p>
    Ngoài ra, thông tin cá nhân khách hàng cũng có thể được thu thập từ các tổ chức trực tuyến có uy tín nhằm bổ sung dữ liệu và phục vụ quá trình thống kê và/hoặc phân tích thói quen mua hàng trực tuyến. Trong quá trình sử dụng trang web <span class="webname">Nhóm Mua</span>, vì lý do an ninh, các dữ liệu liên quan đến kết nối máy vi tính và trình duyệt internet của người dùng đều được tự động cập nhật.
    </p>
    <p>
    Hệ thống của <span class="webname">Nhóm Mua</span> chỉ quan tâm đến chi tiết giao dịch chứ không quan tâm đến thông tin cá nhân của khách hàng, kể cả đối với các thông tin được thu thập một cách chủ động (hay thụ động). Trường hợp người sử dụng tạo ra tài khoản cá nhân trên <span class="webname">Nhóm Mua</span> và mong muốn nhận được cách thông tin khuyến mại từ chúng tôi, cơ sở dữ liệu của chúng tôi sẽ tự động phân tích và thu thập các sở thích du lịch của khách hàng và tư vấn nhiều tìm kiếm tối ưu nhất. Tuy nhiên, đối với các khách hàng sử dụng thẻ tín dụng bất hợp pháp hoặc những hành vi vi phạm pháp luật khác đều có thể bị truy tố theo luật pháp và khách hàng chịu trách nhiệm trước pháp luật về các hành vi của mình. Các cơ quan có liên quan của Chính phủ có thể xác định địa điểm của máy tính truy cập và khởi tố người sử dụng dữ liệu từ máy chủ.
    </p>
    <p>
    Các dữ liệu thu thập chứa các thông tin về nguồn gốc, thông tin từ các trang web đã dẫn người dùng đến <span class="webname">Nhóm Mua</span>, các dữ liệu liên quan đến địa chỉ IP kết nối internet, thông tin đăng ký của máy chủ, độ phân giải và các dữ liệu kỹ thuật khác. Các dữ liệu truy cập cũng bao gồm cả các từ khóa liên quan, các trang quảng cáo liên kết dẫn người sử dụng đến với <span class="webname">Nhóm Mua</span> và các lần truy cập cuối cùng đến <span class="webname">Nhóm Mua</span>.
    </p>
    <br class="clear">
    <span class="title_pri">3. Chúng tôi thu thập thông tin để làm gì?</span>
    <p>
    Các thông tin cá nhân của khách hàng được thu thập nhằm hoàn thành quá trình bán sản phẩm và dịch vụ được cung cấp bởi <span class="webname">Nhóm Mua</span>, đặc biệt là vé máy bay, bảo hiểm, đặt phòng khách sạn và xe hơi. Các dữ liệu được thu thập cũng có thể được sử dụng để cung cấp sản phẩm và dịch vụ khác trong tương lai. Trong một số trường hợp, chúng tôi sẽ sử dụng các thông tin này để thực hiện các chương trình khuyến mại, chiến dịch quảng cáo hoặc các cuộc khảo sát thăm dò ý kiến khách hàng.
    </p>
    <p>
    Chúng tôi cũng sử dụng các thông tin này cho mục đích thống kê. Qúa trình thống kê sẽ được thực hiện bằng các hệ thống phân tích được cung cấp bởi các công ty có uy tín nhằm bảo về quyền riêng tư tối ưu cho <span class="webname">Nhóm Mua</span> và khách hàng của <span class="webname">Nhóm Mua</span>. Dựa trên các dữ liệu được phân tích trên, <span class="webname">Nhóm Mua</span> qua đó có thể thống kê hành vi, sở thích của người dùng nhằm cải thiện chất lượng trang web và tăng thêm sự hài lòng cho người sử dụng.
    </p>
    <br class="clear">
    <span class="title_pri">4. Truyền tải dữ liệu của khách hàng qua các đơn vị khác</span>
    <p>
    Thông tin của khách hàng chỉ được truyền tải cho các hãng hàng không, khách sạn, các công ty cho thuê xe hơi, công ty bảo hiểm, ngân hàng và các nhà cung cấp dịch vụ trực tiếp khác cho <span class="webname">Nhóm Mua</span>.
    </p>
    <p>
    <span class="webname">Nhóm Mua</span> đảm bảo các chi tiết và thông tin cá nhân trên chỉ được truyền tải cho các đơn vị đáng tin cậy và không lạm dụng quyền riêng tư đối với người sử dụng trang web <span class="webname">Nhóm Mua</span>.
    </p>
    <p>
    Những chi tiết liên quan đến thẻ tín dụng chỉ được truyền tải đến các đơn vị đáng tin cậy và được ủy quyền bởi ngân hàng hoặc các nhà khai thác thẻ. Việc truyền dữ liệu sẽ được xử lý bằng các phương pháp mã hóa dữ liệu tối tân nhằm ngăn chặn các truy cập trái phép.
    </p>
    <p>
    <span class="webname">Nhóm Mua</span> có quyền cung cấp các dữ liệu cho các cơ quan có liên quan khi nhận được yêu cầu hợp pháp từ các cơ quan của Chính phủ. <span class="webname">Nhóm Mua</span> không được phép bán các dữ liệu thu thập được về người sử dụng cho các đối tượng và đơn vị khác nhau nhằm mục đích lợi nhuận.
    </p>
    <br class="clear">
    <span class="title_pri">5. Quy tắc liên lạc giữa <span class="webname">Nhóm Mua</span> và người sử dụng</span>
    <p>
    <span class="webname">Nhóm Mua</span> được phép liên lạc với người sử dụng khi cần thiết thông qua: email, tin nhắn SMS, fax, thư, điện thoại, gặp trực tiếp để thực hiện các hoạt động bán hàng hoặc thăm dò ý kiến, đo lường sự hài lòng của khách hàng nhằm từng bước cải thiện chức năng của trang web <span class="webname">Nhóm Mua</span>.
    </p>
    <p>
    <span class="webname">Nhóm Mua</span> cũng sẽ liên lạc với người sử dụng để cung cấp cho người dùng các thông tin liên quan đến các chương trình khuyến mại và chiến dịch quảng cáo (người dùng có thể đăng ký sử dụng vào bất cứ lúc nào).
    </p>
    <p>
    Những chi tiết liên quan đến thẻ tín dụng chỉ được truyền tải đến các đơn vị đáng tin cậy và được ủy quyền bởi ngân hàng hoặc các nhà khai thác thẻ. Việc truyền dữ liệu sẽ được xử lý bằng các phương pháp mã hóa dữ liệu tối tân nhằm ngăn chặn các truy cập trái phép.
    </p>
    <p>
    <span class="webname">Nhóm Mua</span> có quyền cung cấp các dữ liệu cho các cơ quan có liên quan khi nhận được yêu cầu hợp pháp từ các cơ quan của Chính phủ. <span class="webname">Nhóm Mua</span> không được phép bán các dữ liệu thu thập được về người sử dụng cho các đối tượng và đơn vị khác nhau nhằm mục đích lợi nhuận.
    </p>
    <br class="clear">
    <span class="title_pri">6. Thay đổi các chính sách bảo mật</span>
    <p>
    Các chính sách bảo mật có thể được thay đổi cho phù hợp với thực tế. Các thay đổi sẽ được cập nhật tới người dùng trên trang web <span class="webname">Nhóm Mua</span>.
    </p>
    </div>

    <br class="clear">

  </div>
</div>
<?- include ../layouts/footer.ejs ?>