/*Style for Slogan and Top Navigation*/
.topInfo{
    margin-bottom: 20px;
}
.slogan{
    margin-top: 30px;
}
.topNav, .topNav02{
    margin-top: 50px;
    text-align: right;
}
.topNav ul, .topNav02 ul{
    list-style: none;
    margin: 0 0 10px -100px;
}
.topNav ul li, .topNav02 ul li{
    display: inline;
    padding-left: 10px;
}
.topNav ul li a{
    color: #fff;
}
.topNav ul li a:hover{
    text-decoration: none;
    color: #080808;
}
.topTel01{
    font-size: 25pt;
        color: #fff;
}.topTel02{
    font-size: 25pt;
        color: #ec1c24;
}
.topNav02 ul li a{
    color: #000;
}
.topNav02 ul li a:hover{
    text-decoration: none;
    color: #ec1c24;
}
.dropdown{
    position:relative;
    width:90px;
    float:right;
}
.dropdown img{
    margin-left: 10px;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: none outside none;
    background-color: #4f4f4f;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}
/*End*/